---
const { text, variant, style, link, size } = Astro.props;
---

<button onclick={`window.location.href='${link}'`} class={`${variant} ${size}`} style={style}>{text} </button>

<style>
  button {
    border: 2px solid var(--color-red);
    display: inline-block;
    color: var(--color-red);
    min-width: 10rem;
    width: fit-content;
    padding: 0.5rem 1rem;
    background: none;
    text-align: center;
    cursor: cell;
    font-size: 14px;
    font-family: "Karla", sans-serif;
    transition: ease-in 0.2s;
  }

  .large {
    font-size: 18px;
    padding: 1.5rem 1rem;
    min-width: 10rem;
  }

  .secondary {
    background: none;
    border: 2px solid var(--color-lightGreen);
    color: var(--color-lightGreen);
  }

  .light {
    color: var(--red);
  }

  .secondary:hover {
    background-color: var(--color-lightGreen);
    color: var(--color-white);
  }

  button:hover {
    background-color: var(--color-red);
    color: var(--color-white);
  }
  @media (max-width: 1080px) {
    .span {
      grid-column: span 4;
    }
  }
</style>
