---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const url = "https://hrxhpqduitxprhjkzzfc.supabase.co/rest/v1/clothing";
  const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhyeGhwcWR1aXR4cHJoamt6emZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcyMDk1NTAsImV4cCI6MjA2Mjc4NTU1MH0.xI1Li8DVzlUoZilPzFkc8fNfs8tw252yEGNHv-xM7nc";

  const options = {
    headers: {
      apikey: key,
    },
  };

  const request = await fetch(url, options);
  const data = await request.json();

  return data.map((cloth) => {
    return {
      params: { slug: cloth.slug },
      props: { cloth },
    };
  });
}

const { cloth } = Astro.props;
console.log(cloth);
---

<Layout>
  <section>
    <div class="carousel-case">
      <div class="carousel">
        <!-- <div class="displaySlide">
          <img src="/assets/Vertical-Placeholder-Image.webp" alt="image" />
        </div>
        <div>
          <img src="/assets/Vertical-Placeholder-Image.webp" alt="image" />
        </div>
        <div>
          <img src="/assets/heroimg1.webp" alt="image" />
        </div> -->

        {
          cloth.images.map((image) => {
            return (
              <div>
                <img src={image} alt="image" />
              </div>
            );
          })
        }
      </div>
      <button class="prev" onclick="prevSlide()">&#10094</button>
      <button class="next" onclick="nextSlide()">&#10095</button>
    </div>
    <div class="img-case">
      <!-- <div>
        <img src="/assets/Vertical-Placeholder-Image.webp" alt="image" />
      </div>
      <div>
        <img src="/assets/Vertical-Placeholder-Image.webp" alt="image" />
      </div> -->
      {
        cloth.images.map((image) => {
          return (
            <div>
              <img src={image} alt="image" />
            </div>
          );
        })
      }
    </div>

    <div class="txt-case">
      <div class="name-box">
        <h2>{cloth.name}</h2>
        <h3>{cloth.brand}</h3>
      </div>

      <div class="description-box">
        <div class="top-box">
          <p>Dette stykke tøj tilhører <strong>{cloth.area}</strong></p>
        </div>
        <div class="bottom-box">
          <div>
            <ul class="tags">
              <li>Mærke</li>
              <li>Størrelse</li>
              <li>Stand</li>
              <li>Ejer</li>
            </ul>
          </div>
          <div>
            <ul class="info">
              <li>{cloth.brand}</li>
              <li>{cloth.size}</li>
              <li>{cloth.quality}</li>
              <li>{cloth.owner}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script is:inline>
    let slideIndex = 0;
    let intervalId = null;

    function showSlide(index) {
      const carousel = document.querySelectorAll(".carousel div");

      if (index >= carousel.length) {
        slideIndex = 0;
      } else if (index < 0) {
        slideIndex = carousel.length - 1;
      }
      carousel.forEach((element) => {
        element.classList.remove("displaySlide");
      });

      carousel[slideIndex].classList.add("displaySlide");
    }

    function prevSlide() {
      clearInterval(intervalId);
      slideIndex--;
      showSlide(slideIndex);
    }

    function nextSlide() {
      slideIndex++;
      showSlide(slideIndex);
    }

    document.addEventListener("DOMContentLoaded", () => {
      const carousel = document.querySelectorAll(".carousel div");
      if (carousel.length > 0) {
        carousel[slideIndex].classList.add("displaySlide");
        intervalId = setInterval(nextSlide, 5000);
      }
    });
  </script>
</Layout>

<style>
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 4rem auto;
    width: 100%;
    height: 100%;
  }

  .txt-case {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 100%;
    margin: auto 0;
    padding: 2rem 0 2rem 4rem;
  }

  .name-box {
    margin-bottom: 2rem;
  }

  .img-case {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 2rem;
    width: 100%;
  }
  .img-case div {
    width: 300px;
    height: auto;
    aspect-ratio: 16 9;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .img-case img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .top-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50px;
    background-color: var(--color-white);
    margin-bottom: 1rem;
    border: 1px solid var(--color-charcoal);
  }

  .bottom-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 370px;
    background-color: var(--color-white);
    padding: 1rem 2rem;
    border: 1px solid var(--color-charcoal);
  }

  .bottom-box div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: fit-content;
  }

  li {
    margin-bottom: 3rem;
    list-style: none;
  }

  .info {
    text-align: end;
  }

  /***********  carousel ***********/

  .carousel-case {
    display: none;
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: auto;
  }

  .carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    width: 100%;
  }
  .carousel div {
    width: auto;
    height: 100%;
    aspect-ratio: 16 9;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .carousel div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  div .displaySlide {
    display: flex;
  }

  .carousel-case button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.288);
    color: white;
    border: none;
    border-radius: 20%;
    cursor: pointer;
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }

  @media (max-width: 820px) {
    section {
      display: block;
      margin: 0 auto;
    }

    .txt-case {
      display: flex;
      flex-direction: column;
      margin: auto 0;
      padding: 15px;
    }

    .carousel-case {
      display: flex;
    }
    .img-case {
      display: none;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
      padding: 1rem;
      width: 100%;
    }

    .img-case div {
      width: 150px;
      height: auto;
      aspect-ratio: 16 9;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .top-box {
      width: 100%;
    }
    .bottom-box {
      width: 100%;
    }
  }
</style>
